<!--Navbar -->
<nav class="nav aqua-gradient navbar navbar-expand-lg py-2 mb-0 font-weight-light z-depth-1">
  <a class="navbar-brand text-dark font-weight-light" routerLink="/home/Home"><b>V A S T R A H U N T</b> </a>
  <!--    <img width="50" height="50" src="\assets\pics\logo2.png">-->

  <button class="navbar-toggle btn btn-sm btn-light" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent-333"
          aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <!--    <span class="navbar-toggle-icon"></span>-->
    <span>
      <i class="fa fa-lg fa-bars"></i>
    </span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav mr-auto text-white">
      <li class="nav-item ">
        <a class="nav-link disabled" data-toggle="tooltip" data-placement="bottom" title="Shoes">
          <i class="fa fa-shoe-prints mr-2"></i>Shoes</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link text-white button" routerLink="/home/productMenu" data-toggle="tooltip"
           data-placement="bottom" title="Mobile">
          <i class="fa fa-mobile mr-2"></i>Mobiles</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333"
           aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" data-placement="bottom" title="Fashion">
          <i class="fa fa-shopping-bag mr-2"></i>Fashion
        </a>
        <div class="dropdown-menu dropdown-default text-center" aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item disabled">Men</a>
          <a class="dropdown-item disabled">Women</a>
          <a class="dropdown-item disabled">Kids</a>
        </div>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <form class="form-inline">
        <div class="md-form my-0">
          <input class="form-control mr-sm-" type="text" placeholder="Search" aria-label="Search">
        </div>
      </form>
      <li class="nav-item dropdown text-white">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false" data-placement="bottom" title="My-Profile">
          <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default text-center"
             aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" routerLink="/home/myProfile">My Profile</a>
          <a class="dropdown-item" routerLink="/public/login">Login</a>
          <a class="dropdown-item" routerLink="/public/register">Register</a>
          <a class="dropdown-item" (click)="logout()" [hidden]="!isUserLogin">Logout</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light text-white" routerLink="/home/wishlist" data-toggle="tooltip"
           data-placement="bottom" title="Wishlist">
          <i class="fa fa-heart"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light text-white" routerLink="/home/cart" data-toggle="tooltip"
           data-placement="bottom" title="Cart">
          <i class="fa fa-shopping-cart"></i>
          <span class="badge rounded-pill badge-notification bg-danger">{{totalItemsInCart}}</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->
