<!--Navbar -->
<nav class="nav aqua-gradient navbar navbar-expand-lg py-2 mb-0 font-weight-light z-depth-1">
   <a class="navbar-brand white-text font-weight-light" href="#">V A S T R A H U N T  </a>
<!--    <img width="50" height="50" src="\assets\pics\logo2.png">-->

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav mr-auto white-text">
      <li class="nav-item ">
        <a class="nav-link white-text" href="#">Shoes</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link white-text button" href="#" routerLink="/home/productMenu">Mobiles</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Fashion
        </a>
        <div class="dropdown-menu dropdown-default text-center" aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" href="#">Men</a>
          <a class="dropdown-item" href="#">Women</a>
          <a class="dropdown-item" href="#">Kids</a>
        </div>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <form class="form-inline">
        <div class="md-form my-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        </div>
      </form>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default"
          aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light">
          <i class="fa fa-heart"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-effect waves-light" routerLink="/home/cart">
          <i class="fa fa-shopping-cart"></i>
          <span class="badge rounded-pill badge-notification bg-danger"></span>
        </a>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->
