<div class="container">
  <div class="row">
     <div class="col-md-3"></div>
      <div class="col-md-6" style="margin-top: 250px;">
        <form class="form">
          <div class="mt-5">
          <input type="text">
          </div>
          <div class="mt-5">
          <input type="text">
          </div>
          <div>
            <button class="btn btn-danger">Login</button>
            <button class="btn btn-success ml-3">Register</button>
          </div>


        </form>
      </div>
     <div class="col-md-3"></div>
  </div>
 </div>
