<app-header></app-header>

<a href="#!" class="btn btn-sm btn-blue ml-4 mt-2" routerLink="/home/productMenu">
  <i class="fa fa-arrow-left fa-lg"></i></a>

<div class="card text-center">
  <!--  <div class="card-header">-->

  <!--  </div>-->
  <div class="card-body">
    <div class="row mt-4" id="colEdit" *ngIf="product">
      <div class="col-md-2">
      </div>
      <div class="col-md-4 ml-3">
        <img src="{{product.imageUrl}}" class="imageEdit">
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 25rem; height: 25rem">
          <div class="card-body">
            <h3 class="mt-4 pt-5"><b>{{ product.name }}</b></h3>
            <p class="mt-4 pt-3">{{ product.description }}</p>
            <h4 class="mt-4 pt-5">{{ product.rate | currency:'INR' }}</h4>
            <div class="mt-4">
              <button class="btn btn-md btn-primary" (click)="addToCart(product)">
                <i class="fa fa-shopping-cart mr-2"></i>Add to Cart
              </button>
              <button class="btn btn-md btn-pink" (click)="addToWishlist(product)">
                <i class="fa fa-heart mr-2"></i>Add to Wishlist
              </button>
              <!--            <button class="btn btn-sm btn-purple" disabled>-->
              <!--              <i class="fa fa-money-check mr-2"></i>Buy Now</button>-->
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>

<h2 class="mt-4 mb-4 ml-4"><b>Similar Products</b></h2>

<div class="row ml-4">
  <div class="col-md-3" *ngFor="let item of products">
    <div class="card" style="width: 16rem;" id="cardHeight">
      <img src="{{ item.imageUrl }}" class="card-img-top" id="imgSimilarProducts">
      <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
        <p class="card-text">{{ item.description }}</p>
        <p class="card-text">{{ item.rate | currency:"INR" }}</p>
        <a href="#" class="btn btn-info" >Shop Now</a>
      </div>
    </div>
  </div>
</div>

