.imageEdit {
  height: 400px;
  width: 400px;
}

#allPics {
  /*max-width: 12rem;*/
  /*max-height: 12rem;*/
  width: 35rem;
  height: 10rem;
}

.imageGallery {
  width: 50px;
  height: 80px;
}

#imgSimilarProducts {
  height: 250px;
  width: 250px;
  border: 1px solid black;
}

.moreImages {
  height: 80px;
  width: 100px;
  border: 1px solid black;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.returnPolicy {

}

#cardHeightSimilar {
  height: 380px;
  width: 220px;
  border-radius: 15px;
  margin-bottom: 20px;

}

.card-img-similar{
  height: 150px;
  width: 160px;
  margin: 0 auto;
}


