<app-header></app-header>

<!--desc start-->
<div class="row mt-4 ml-4" data-mdb-zoom-effect="true" data-mdb-auto-height="true">
  <div class="col-md-8">
    <div class="lightbox">
      <img
        src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/14a.webp"
        alt="Gallery image 1"
        class="ecommerce-gallery-main-img active w-50"
      />
    </div>
  </div>
  <div class="col-md-4"></div>
</div>

<div class="row mt-4 ml-4">
  <div class="col-4">
    <img
      src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/15a.webp"
      data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/15a.webp"
      alt="Gallery image 4"
      class="w-50"
    />
  </div>
  <div class="col-4">
    <img
      src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/13a.webp"
      data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/13a.webp"
      alt="Gallery image 3"
      class="w-50"
    />
  </div>
  <div class="col-4">
    <img
      src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/12a.webp"
      data-mdb-img="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Vertical/12a.webp"
      alt="Gallery image 2"
      class="w-50"
    />
  </div>
</div>
<!--desc end-->

