.img-thumbnail {
  height: 250px;
  width: 250px;
  border: 1px solid black;
}

#cardHeight {
  height: 390px;
}

.elipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button-row{
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
}

#rippleImg{
  margin: 0 auto;
}

#rippleImg2{
  margin: 0 auto;
}
