<app-header></app-header>

<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade mt-0 pt-0 m-0 p-0" data-ride="carousel">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-2" data-slide-to="1"></li>
    <li data-target="#carousel-example-2" data-slide-to="2"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view">
        <img class="d-block image-responsive" src="/assets/pics/12.png" alt="First slide">
        <div class="mask rgba-light-light"></div>
      </div>
      <div class="carousel-caption">
        <h1 class="h1-responsive"><b>DON'T TAKE YOUR MAN OUT</b></h1>
        <h5 class="text-light ml-5 font-weight-bold">Just visit our website</h5>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block" src="/assets/pics/jacq.jpg" alt="Second slide">
        <div class="mask rgba-light-strong"></div>
      </div>
      <div class="carousel-caption">
        <h1 class="h1-responsive text-dark bg-light"><b>EVER HEARD OF WEARING TECHNOLOGY??</b></h1>
        <p class="h3-responsive text-dark bg-light">Explore for more details !!!</p>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block" src="/assets/pics/cover-min.jpg" alt="Third slide">
        <div class="mask rgba-black-slight"></div>
      </div>
      <div class="carousel-caption">
        <h1 class="h1-responsive"><b>LATEST & TRENDY WOMEN'S APPAREL</b></h1>
        <p>Go with the latest trend</p>
      </div>
    </div>
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->

<!-- category cards -->
<div class="row mt-4 ml-2 mr-2">
  <div class="col-md-2">
    <div class="card">
      <img src="/assets/pics/on.jpg" class="card-img-top" alt="Smartphones"/>
      <div class="card-body">
        <h5 class="card-title">Mobiles</h5>
        <p class="card-text">Smart people buy Smartphones.</p>
        <a class="btn btn-primary btn-sm ml-5" routerLink="/home/productMenu">Shop Now</a>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card">
      <img src="/assets/pics/man.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
      <div class="card-body">
        <h5 class="card-title">Men's Wear</h5>
        <p class="card-text">Wear your Best.</p>
        <a href="#" class="btn btn-danger btn-sm ml-5 disabled" aria-disabled="true">Shop Now</a>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card">
      <img src="/assets/pics/woman-min.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
      <div class="card-body">
        <h5 class="card-title">Women's Wear</h5>
        <p class="card-text">Make others jealous, always.</p>
        <a href="#!" class="btn btn-success btn-sm ml-5 disabled" aria-disabled="true">Shop Now</a>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card">
      <img src="/assets/pics/sunglassfemale.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
      <div class="card-body">
        <h5 class="card-title">Sunglasses & More</h5>
        <p class="card-text">Stare without getting caught.</p>
        <a href="#!" class="btn btn-warning btn-sm ml-5 disabled" aria-disabled="true">Shop Now</a>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card">
      <img src="/assets/pics/shoe.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
      <div class="card-body">
        <h5 class="card-title">Shoes</h5>
        <p class="card-text">What do we all want? Shoes.</p>
        <a href="#!" class="btn btn-info btn-sm ml-5 disabled" aria-disabled="true">Shop Now</a>
      </div>
    </div>
  </div>
  <div class="col-md-2">
    <div class="card">
      <img src="/assets/pics/bag-min.jpg" class="card-img-top" alt="Fissure in Sandstone"/>
      <div class="card-body">
        <h5 class="card-title">Bags & Bags</h5>
        <p class="card-text">Keep calm & buy Bags.</p>
        <a href="#!" class="btn btn-secondary btn-sm ml-5 disabled" aria-disabled="true">Shop Now</a>
      </div>
    </div>
  </div>
</div>
<!-- end of category cards -->

<!-- sale card -->
<div class="card mb-3 mt-4 ml-4" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img
        src="https://mdbcdn.b-cdn.net/wp-content/uploads/2020/06/vertical.webp"
        alt="Trendy Pants and Shoes"
        class="img-fluid rounded-start"
      />
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in to
          additional content. This content is a little bit longer.
        </p>
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>

  </div>
</div>
<!-- end of sale card -->

