.d-block {
  width: 1600px;
  height: 600px;
  margin-left: 50px;
}

.card {
  margin-bottom: 30px;
}

.card .card-body .btn {
  margin: 0px;
}

/*for sale card for men*/
img {
  width: 100%;
  height: 100%
}

.bg-black {
  background: white;
}

@media (min-width: 991px) and (max-width: 1200px) {
  .skill-block {
    padding: 50px !important
  }
}

/*css for carousel images responsiveness*/
@media (max-width: 991px) {
  .d-block {
    width: 100%;
    object-fit: cover;

  }
}

@media (min-width: 1200px) {
  .skill-block {
    padding: 96px !important
  }
}

.textSizing {
  letter-spacing: 6px;
}

.textSizingHeading {
  letter-spacing: 6px;
  /*margin-left: 80px;*/
}

#editContainer {
  width: 100%;
}

/*end of css for sale card for men*/

/*for sale card for women*/
#editContainerWomen {
  background: lightcoral;
  width: 100%;
}

#editCategories {
  background: indianred;
}

.textSizingWomen {
  letter-spacing: 6px;
  background: lightcoral;
}

#tshirt {
  background: salmon;
}

#jeans {
  background: PaleVioletRed;
}

#beauty {
  background: HotPink;

}

#shoes {
  background: indianred;
}

@media (min-width: 991px) and (max-width: 1200px) {
  .skill-block-women {
    padding: 40px !important
  }
}

@media (min-width: 1200px) {
  .skill-block-women {
    padding: 86px !important
  }

  #womenHeading {
    background: pink;
  }
}

.skill-block-scroll {
  width: 100%;
  overflow-x: auto;
}

/*end of css for sale card for women*/
