<app-header></app-header>

<a href="#!" class="btn btn-sm btn-blue ml-4 mt-2" routerLink="/home/productMenu">
  <i class="fa fa-arrow-left fa-lg"></i></a>

<h3 class="ml-4 mt-4">Cart</h3>


<div class="card text-center mt-4 bg-warning" *ngIf="!items.length">

  <div class="card-body">
    <h1 class="card-title">Oops, your cart is empty!</h1>
    <p class="card-text">Click on shop now to fill your cart with happiness.</p>
    <a href="#" class="btn btn-default">Shop Now</a>
  </div>

</div>


<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <div class="card mb-3" style="max-width: 540px;" *ngFor="let item of items">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{ item.imageUrl }}" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ item.name }}</h5>
            <p class="card-text">{{ item.description }}</p>
            <h5>{{ item.rate | currency:'INR'}}/-</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4"></div>
  <div class="col-md-2"></div>
</div>




