<app-header></app-header>

<!--<a class="btn btn-sm btn-blue ml-4 mt-2" routerLink="/home/productMenu">-->
<!--  <i class="fa fa-arrow-left fa-lg"></i></a>-->

<div *ngIf="items.length">
  <a class="btn btn-sm btn-red ml-4 mt-2" (click)="clearCart()">
    <i class="fa fa-trash fa-lg"></i></a>
</div>

<div class="card text-center bg-warning" id="noItemCardInCart" *ngIf="!items.length">
  <div class="card-body">
    <i class="fa fa-4x fa-shopping-cart"></i>
    <h1 class="card-title">Oops, your cart is empty!</h1>
    <p class="card-text">Click on shop now to fill your cart with happiness.</p>
    <a class="btn btn-primary" routerLink="/home/Home">Shop Now</a>
  </div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-4">
    <div class="card mb-3" style="max-width: 540px;" *ngFor="let item of items, let i = index">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{ item.image }}" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <!--            <h5 class="card-title">{{ item.title }}</h5>-->
            <p class="card-text">{{ item.description }}</p>
            <h5>{{ item.rate | currency:'INR'}}/-</h5>
            <button class="btn btn-sm btn-danger" (click)="removeCartItem(i)">
              <i class="fa fa-trash mr-2"></i>Remove
            </button>
            <button class="btn btn-sm btn-primary" (click)="addToWishlist(item)">Move To Wishlist</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="mt-4"></div>
  </div>
  <div class="col-md-2"></div>
</div>




